@{
    ViewBag.Title = "ПП Яровий. Виготовлення пам'ятників. Коростишів";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="banner text-center">
    <div class="container">
        <div class=" banner-info">
            <h1>Якісне виготовлення пам'ятників</h1> 
            <h1>з граніту та габро</h1>
        </div>        
    </div>
</div>

<br>
<div class="main">
    <div class="featured_content" id="feature">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 feature_grid1">
                    <img src="~/Images/Single/01.JPG" width="102"/>
                    <h3 class="m_1"><a href="~/Single/Index">Одинарні пам'ятники</a></h3>
                    <p class="m_2">Вироби з граніту та габро<br>Індивідуальні замовлення</p>
                    <a href="~/Single/Index" class="feature_btn">Детальніше</a>
                </div>
                <div class="col-md-3 feature_grid1">
                    <img src="~/Images/Single/02.JPG" width="102" />
                    <h3 class="m_1"><a href="~/Double/Index">Подвійні пам'ятники</a></h3>
                    <p class="m_2">Текстова інформація для подвійних пам'ятників</p>
                    <a href="#" class="feature_btn">Детальніше</a>
                </div>
                <div class="col-md-3 feature_grid1">
                    <img src="~/Images/Single/03.JPG" width="102" />
                    <h3 class="m_1"><a href="#">Дитячі<br>пам'ятники</a></h3>
                    <p class="m_2">Текстова інформація для дитячих пам'ятників</p>
                    <a href="#" class="feature_btn">Детальніше</a>
                </div>
                <div class="col-md-3 feature_grid2">
                    <img src="~/Images/Single/04.JPG" width="102" />
                    <h3 class="m_1"><a href="#">Інші<br>вироби</a></h3>
                    <p class="m_2">Текстова інформація про інші вироби</p>
                    <a href="#" class="feature_btn">Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>
