@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center" style="background:#74553b">
    <div class="image-row">
        <div class="image-set">
            <a class="example-image-link" href="../images/single/01.jpg" data-lightbox="example-set" data-title="Подвійний пам'ятник. Орієнтована ціна 5000грн. Терміни виконання 2 міс.'">
                <img class="example-image" src="../images/single/01.jpg" alt="Golden Gate Bridge with San Francisco in distance" width="250">
            </a>
            <a class="example-image-link" href="../images/single/02.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
                <img class="example-image" src="../images/single/02.jpg" alt="Forest with mountains behind" width="250">
            </a>
            <a class="example-image-link" href="../images/single/03.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing.">
                <img class="example-image" src="../images/single/03.jpg" alt="Bicyclist looking out over hill at ocean" width="250">
            </a>
            <a class="example-image-link" href="../images/single/04.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="../images/single/04.jpg" alt="Small lighthouse at bottom with ocean behind" width="250">
            </a>
            <a class="example-image-link" href="../images/single/05.jpg" data-lightbox="example-set" data-title="Подвійний пам'ятник. Орієнтована ціна 5000грн. Терміни виконання 2 міс.'">
                <img class="example-image" src="../images/single/05.jpg" alt="Golden Gate Bridge with San Francisco in distance" width="250">
            </a>
            <a class="example-image-link" href="../images/single/06.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard.">
                <img class="example-image" src="../images/single/06.jpg" alt="Forest with mountains behind" width="250">
            </a>
            <a class="example-image-link" href="../images/single/07.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing.">
                <img class="example-image" src="../images/single/07.jpg" alt="Bicyclist looking out over hill at ocean" width="250">
            </a>
            <a class="example-image-link" href="../images/single/08.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close.">
                <img class="example-image" src="../images/single/08.jpg" alt="Small lighthouse at bottom with ocean behind" width="250">
            </a>
        </div>
    </div>
</div>

<script src="~/Scripts/lightbox-plus-jquery.js"></script>
<script>
    lightbox.option({
        'resizeDuration': 500,
        'wrapAround': true,
        'showImageNumberLabel': false,
        'fitImagesInViewport':true
    })
</script>