@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="http://maps.googleapis.com/maps/api/js">
</script>

<script>
    var myCenter = new google.maps.LatLng(50.3166139, 29.0452447, 14);

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: myCenter
        });

        marker.setMap(map);

        var infowindow = new google.maps.InfoWindow({
            content: "<b>ПП \"Яровий\"</b><br>м. Коростишів, Житомирська область<br>вул. Гетьмана Скоропадського 20<br><img src='../images/info.png' alt='ПП \"Яровий\"'> Тел. 063-444-34-51"
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.open(map, marker);
        });

        infowindow.open(map, marker);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>


<div class="banner text-center">
    <div class="container">
        <div class=" banner-info">
            <h1>Ви можете нас знайти за адресою:</h1>
        </div>
    </div>    
</div>

<div class="container">
    <div id="googleMap" style="padding:20px;width:1080px;height:580px;"></div>
</div>
    
